.store__options {
  margin: 0 7%;
  background-color: #2E2B67;
  border-radius: 0 0 20px 20px;
  padding: 3.5%;
}
.store__options__container {
  display: flex;
  justify-content: space-between;
}
.store__options__filters {
  display: flex;
  flex-direction: row;
  color: white;
}
.store__options__filter {
  margin-right: 30px;
  background-color: transparent;
  color: white;
  border: none;
}
.store__options__searchInput {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
}
.store__options__order {
  width: 16%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.store__options__cart > svg {
  color: white;
  height: 30px;
  width: 30px;
}
.store__options__features {
  margin: 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.store__options__feature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.store__options__feature__img {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #685AD1;
  box-shadow: 0px 4px 20px rgba(104, 90, 209, 0.5);
}
.store__options__feature__img--1 {
  background: #FBD0D5;
  box-shadow: 0px 4px 50px rgba(251, 208, 213, 0.5);
}
.store__options__feature__img--2 {
  background: #FFCE53;
  box-shadow: 0px 4px 50px rgba(255, 206, 83, 0.5);
}
.store__options__feature__text {
  color: #444444;
  margin-left: 14px;
  font-family: "Gordita";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}
.store__options__products {
  margin: 3.5% 7%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: space-between;
}
.store__selects {
  display: flex;
  gap: 24px;
  padding: 24px;
  margin: 0 7%;
}

.cardProduct {
  background: #FFFFFF;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 390px;
  width: 314px;
  margin-bottom: 5%;
}
.cardProduct-image {
  width: 100%;
  height: 50%;
}
.cardProduct-inner-image {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  height: 100%;
}
.cardProduct-content {
  height: 50%;
  padding: 5%;
  position: relative;
}
.cardProduct-title {
  font-family: "Gordita";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 25px;
  margin-bottom: 10px;
  /* or 83% */
  color: #444444;
}
.cardProduct-price {
  font-family: "Gordita";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 25px;
  /* or 83% */
  color: #2E2B67;
}
.cardProduct-discount[data-discount=true] {
  position: absolute;
  top: -30px;
  right: 15px;
  padding: 15px;
  border-radius: 50%;
  background: #685AD1;
  color: #fff;
  font-family: "Gordita";
  font-style: normal;
  font-weight: 900;
}

@media (max-width: 600px) {
  .header {
    width: 100vw;
  }
  .cardProduct {
    width: 100%;
  }
  .store__options__features {
    width: 100vw;
    overflow: hidden;
  }
  .store__options__container {
    flex-wrap: wrap;
  }
  .store__options__feature {
    width: 100%;
  }
  .store__options__products {
    margin: 0;
    padding: 3.5% 7%;
  }
}/*# sourceMappingURL=store.css.map */