@charset "UTF-8";
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Inter Tight", sans-serif;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

.landing {
  position: relative;
  width: 100%;
  height: 90vh;
}
.landing__gradiant {
  position: absolute;
  width: 100%;
  height: 100%;
}
.landing__gradiant :nth-child(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.landing__gradiant :nth-child(1) .landing_img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.landing__gradiant :nth-child(1) .landing_img:nth-of-type(1) {
  background-image: url("../src/img/index/background_img1.png");
}
.landing__gradiant :nth-child(1) .landing_img:nth-of-type(2) {
  background-image: url("../src/img/index/background_img2.jpg");
}
.landing__gradiant :nth-child(1) .landing_img:nth-of-type(3) {
  background-image: url("../src/img/index/background_img3.jpg");
}
.landing__gradiant :nth-child(1) .landing_img--store {
  background-image: url("../src/img/store/background_store.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.landing__gradiant :nth-child(2) {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.landing__gradiant :nth-child(3) {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, #FAFAFA 100%);
}

@media (max-width: 600px) {
  .landing__gradiant :nth-child(2) {
    background: linear-gradient(180deg, rgba(46, 43, 103, 0.5882352941));
  }
  .landing_img {
    background: bottom;
  }
}
.footer {
  position: relative;
  overflow: hidden;
  height: 40vh;
  color: #ffffff;
}
.footer__article {
  padding-top: 5%;
  height: 100%;
  z-index: 2;
  position: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__article section div {
  margin-bottom: 10px;
}
.footer__follow {
  display: flex;
}
.footer__follow p {
  margin-right: 3px;
}
.footer__follow img {
  margin-left: 5px;
  margin-right: 5px;
}

.header {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.header__article {
  display: flex;
  width: 100%;
}
.header__section {
  position: relative;
  width: 50%;
}
.header__section > h1 {
  color: #ffffff;
  font-size: 40px;
  line-height: 80px;
}
.header__section > h1 span {
  font-weight: 700;
}
.header__section--1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15% 0 7%;
}
.header__navbar {
  justify-content: space-between;
}
.header__logo {
  width: 20%;
}
.header__btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
}
.header__btn div {
  padding: 10px;
  background-color: #2683f6;
  color: #FAFAFA;
  border-radius: 20px;
  margin: 0 20px;
  transition: all 0.5s;
}

.margin {
  margin-left: 10vw;
  margin-right: 10vw;
}

.nav {
  width: 100%;
  color: whitesmoke;
  z-index: 2;
  position: relative;
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  align-items: center;
  z-index: 2;
  padding-right: 10vw;
}
.nav__listItems {
  float: left;
}
.nav__listItems a {
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  color: whitesmoke;
  z-index: 2;
}
.nav__listItems a:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #2683f6;
  z-index: -1;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}
.nav__listItems a:hover:before, .nav__listItems a a:focus:before {
  transform: scale(1);
}

@media (max-width: 600px) {
  .nav__list {
    flex-direction: column;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
    margin-bottom: 100%;
  }
  .header__navbar:has(.navbar-collapse.collapse.in) {
    height: 100vh;
    background-color: #2E2B67;
  }
}
/* elemento de barra de navegación:  */
.object {
  z-index: 0;
}
.object__rect {
  position: absolute;
  width: 1035.95px;
  height: 389.2px;
  left: 50%;
  top: -210.73px;
  background-color: rgb(46, 43, 103);
  border-radius: 20px;
  transform: rotate(-4deg);
  z-index: 0;
  filter: drop-shadow(0px 4px 20px rgba(46, 43, 103, 0.2));
}
.object__rect--1 {
  width: 1452.58px;
  height: 351.92px;
  left: 50px;
  top: 80px;
  background-color: #2e2b67;
  border-radius: 20px;
  transform: rotate(4deg);
}

@media (max-width: 600px) {
  .object__rect {
    display: none;
  }
}
.columns {
  height: 100vh;
}
.columns__two {
  height: 50vh;
}
.columns__three {
  height: 33vh;
}
.columns__four {
  height: 25vh;
}

.field {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}
.field__title {
  text-align: center;
}
.field__section {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
.field__element {
  width: 24%;
  font-size: 14px;
}
.field__element > p {
  text-align: center;
}

.span {
  padding: 5px;
  color: whitesmoke;
}
.span--bg1 {
  background-color: #2E2B67;
}
.span--bg2 {
  background-color: #685AD1;
}
.span--bg3 {
  background-color: #9C92DB;
}
.span--bg4 {
  background-color: #ADE3FF;
}
.span--bg5 {
  background-color: #FFCE53;
}
.span--bg6 {
  background-color: #FBD0D5;
}

.btn {
  display: block;
  width: 100%;
  max-width: 250px;
  height: 46px;
  font-size: 1.4rem;
  border-radius: 10px;
  border: none;
  margin: 2rem auto;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  color: #ffffff;
  background-color: #cccccc;
}
.btn--outline {
  background-color: #ffffff;
  color: #2E2B67;
  border: 3px solid #2E2B67;
}
.btn--outline:hover {
  background-color: #2E2B67;
  color: #ffffff;
  border: 3px solid #2E2B67;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #FBD0D5;
  color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  width: 100%;
  margin: 0 10px;
}
.card--1 {
  background-color: #ADE3FF;
  box-shadow: 0px 4px 50px rgba(173, 227, 255, 0.5);
}
.card--2 {
  background-color: #FFCE53;
  box-shadow: 0px 4px 50px rgba(255, 206, 83, 0.5);
}
.card--3 {
  background-color: #FBD0D5;
  box-shadow: 0px 4px 50px rgba(251, 208, 213, 0.5);
}
.card--4 {
  background-color: #9C92DB;
  box-shadow: 0px 4px 50px rgba(156, 146, 219, 0.5);
}
.card--view1 {
  width: 35%;
  height: 30%;
}
.card--view2 {
  width: 27.5%;
  height: 45%;
}
.card--view3 {
  width: 57.5%;
  height: 30%;
}
.card--view4 {
  width: 35%;
  height: 45%;
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: initial;
}
.figure > img {
  width: 50%;
  margin-bottom: 1rem;
}
.figure--1 {
  background-color: #2E2B67;
  box-shadow: 0px 4px 50px rgba(46, 43, 103, 0.5);
}
.figure--2 {
  background-color: #685AD1;
  box-shadow: 0px 4px 50px rgba(104, 90, 209, 0.5);
}
.figure--3 {
  background-color: #9C92DB;
  box-shadow: 0px 4px 50px rgba(156, 146, 219, 0.5);
}
.figure--4 {
  background-color: #ADE3FF;
  box-shadow: 0px 4px 50px rgba(173, 227, 255, 0.5);
}
.figure--5 {
  background-color: #FFCE53;
  box-shadow: 0px 4px 50px rgba(255, 206, 83, 0.5);
}

.item {
  position: absolute;
}
.item_1 {
  right: 0;
  top: 60px;
}
.item_middle-down {
  bottom: 0;
  left: 40%;
}
.item_middle-down-rotate {
  bottom: 100px;
  left: 40%;
  transform: rotate(90deg);
}
.item_left-down {
  left: 0;
  bottom: -100px;
}
.item_left-down-outside-rotate {
  left: -175px;
  bottom: 100px;
  transform: rotate(90deg);
}
.item_left-middle {
  left: 0;
  top: 20%;
}
.item_right-middle {
  right: 0;
  top: 20%;
}

.justify {
  display: flex;
  flex-direction: column;
}
.justify__center {
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
}

.position--absolute {
  position: absolute;
  top: 0;
}

.row {
  width: 100%;
  display: flex;
  position: relative;
}
.row__two {
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row__two img {
  width: -webkit-fill-available;
}
.row__three {
  width: 33%;
  position: relative;
}
.row__four {
  width: 25%;
  position: relative;
}
.row__moremiddle {
  width: 66%;
  position: relative;
}
.row__4th {
  width: 80%;
  position: relative;
}
.row__3rd {
  width: 60%;
  position: relative;
}
.row__2nd {
  width: 40%;
  position: relative;
}
.row__1st {
  width: 20%;
  position: relative;
}

.title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Esto es las tarjetas que se voltean enlace de referencia:  */
.card-test {
  perspective: 150rem;
  position: relative;
  height: 25rem;
  max-width: 400px;
  margin: 2rem;
  box-shadow: none;
  background: none;
}

.card-test-side {
  height: 20rem;
  border-radius: 15px;
  transition: all 0.8s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  padding: 2rem;
  color: white;
}

.card-test-side.back {
  transform: rotateY(-180deg);
}

.card-test:hover .card-test-side.front {
  transform: rotateY(180deg);
}

.card-test:hover .card-test-side.back {
  transform: rotateY(0deg);
}

/* Aqui termina lo de las tarjetas  */
@media (max-width: 600px) {
  .header__section > h1 {
    font-size: 32px;
    line-height: 60px;
  }
  .header__section > h1 span {
    font-weight: 700;
  }
  .header__section--1 {
    width: 100%;
  }
  .header__section--2 {
    display: none;
  }
  .header__logo {
    width: 60%;
    filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(168deg) brightness(102%) contrast(102%);
    margin-left: -10%;
  }
  .header__btn {
    display: none;
  }
  #animation_1 {
    width: 100%;
  }
  .howWeAre {
    flex-direction: row-reverse;
  }
  .row__two {
    width: 100% !important;
    align-items: center;
  }
  .row__two > p {
    width: 100%;
  }
  .justify__center {
    margin-left: 50px;
    margin-right: 50px;
  }
  .item_middle-down {
    display: none;
  }
  .item_1 {
    display: none;
  }
  .field__section {
    display: -webkit-box;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
  }
  .field__element {
    margin-right: 10%;
    width: 60%;
  }
  .object__rect--1 {
    left: 0;
    display: block;
  }
  .footer {
    padding-bottom: 10%;
  }
  .footer__article {
    flex-direction: column;
    padding-top: 15%;
  }
}
.store__options {
  margin: 0 7%;
  background-color: #2E2B67;
  border-radius: 0 0 20px 20px;
  padding: 3.5%;
}
.store__options__container {
  display: flex;
  justify-content: space-between;
}
.store__options__filters {
  display: flex;
  flex-direction: row;
  color: white;
}
.store__options__filter {
  margin-right: 30px;
  background-color: transparent;
  color: white;
  border: none;
}
.store__options__searchInput {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
}
.store__options__order {
  width: 16%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.store__options__cart > svg {
  color: white;
  height: 30px;
  width: 30px;
}
.store__options__features {
  margin: 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.store__options__feature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.store__options__feature__img {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #685AD1;
  box-shadow: 0px 4px 20px rgba(104, 90, 209, 0.5);
}
.store__options__feature__img--1 {
  background: #FBD0D5;
  box-shadow: 0px 4px 50px rgba(251, 208, 213, 0.5);
}
.store__options__feature__img--2 {
  background: #FFCE53;
  box-shadow: 0px 4px 50px rgba(255, 206, 83, 0.5);
}
.store__options__feature__text {
  color: #444444;
  margin-left: 14px;
  font-family: "Gordita";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}
.store__options__products {
  margin: 3.5% 7%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: space-between;
}
.store__selects {
  display: flex;
  gap: 24px;
  padding: 24px;
  margin: 0 7%;
}

.cardProduct {
  background: #FFFFFF;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 390px;
  width: 314px;
  margin-bottom: 5%;
}
.cardProduct-image {
  width: 100%;
  height: 50%;
}
.cardProduct-inner-image {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  height: 100%;
}
.cardProduct-content {
  height: 50%;
  padding: 5%;
  position: relative;
}
.cardProduct-title {
  font-family: "Gordita";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 25px;
  margin-bottom: 10px;
  /* or 83% */
  color: #444444;
}
.cardProduct-price {
  font-family: "Gordita";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 25px;
  /* or 83% */
  color: #2E2B67;
}
.cardProduct-discount[data-discount=true] {
  position: absolute;
  top: -30px;
  right: 15px;
  padding: 15px;
  border-radius: 50%;
  background: #685AD1;
  color: #fff;
  font-family: "Gordita";
  font-style: normal;
  font-weight: 900;
}

@media (max-width: 600px) {
  .header {
    width: 100vw;
  }
  .cardProduct {
    width: 100%;
  }
  .store__options__features {
    width: 100vw;
    overflow: hidden;
  }
  .store__options__container {
    flex-wrap: wrap;
  }
  .store__options__feature {
    width: 100%;
  }
  .store__options__products {
    margin: 0;
    padding: 3.5% 7%;
  }
}
.product {
  margin-top: 7%;
  width: 100%;
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 7%;
  padding-right: 7%;
}
.product__section--1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 2.5%;
}
.product__section--2 {
  width: 40%;
}
.product__section--3 {
  width: 40%;
  padding-left: 2.5%;
}
.product__section--4 {
  margin-top: 2.5%;
  width: 100%;
  background: rgba(172, 222, 249, 0.5);
  height: 20vh;
  padding: 5%;
}
.product__img {
  width: 100%;
  height: 100%;
}
.product__carousel {
  width: 100%;
}
.product__name {
  font-family: "Gordita";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  margin-bottom: 15px;
  /* or 145% */
  color: #444444;
}
.product__price {
  font-family: "Gordita";
  font-style: normal;
  font-weight: 700;
  font-size: 50.2128px;
  line-height: 55px;
  /* or 109% */
  margin-bottom: 15px;
  color: #444444;
}
.product__calification {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.product__value {
  font-family: "Gordita";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  /* identical to box height, or 100% */
  color: #444444;
}
.product__amountValue {
  font-family: "Gordita";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 44px;
  /* or 290% */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ffce53;
}
.product__sizes {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 15px;
}
.product__size {
  border: 0.781038px solid #2e2b67;
  border-radius: 10px;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Gordita";
  font-style: normal;
  font-weight: 500;
  font-size: 19.5259px;
  line-height: 10px;
  /* or 50% */
  color: #2e2b67;
}
.product__add {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  background: #2e2b67;
  border: 2.83252px solid #2e2b67;
  color: white;
}

@media (max-width: 600px) {
  .product {
    flex-direction: column;
  }
  .product__section--1 {
    display: none;
  }
  .product__section--2 {
    width: 100%;
  }
}
.auth {
  margin: 0 7%;
  display: flex;
  align-items: center;
}
.auth__form {
  width: 50%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.auth__form h1 {
  color: #2e2b67;
}
.auth .verticalHr {
  background: #2e2b67;
  height: 400px;
  width: 2px;
}

.inputField {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.inputField label {
  font-family: "Gordita";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #444444;
}
.inputField input {
  border: 1px solid #685ad1;
}
.inputField--double {
  flex-direction: row;
  gap: 24px;
}
.inputField--double .inputField {
  width: calc(50% - 12px);
}/*# sourceMappingURL=style.css.map */