.product{
    margin-top: 7%;
    width: 100%;
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 7%;
    padding-right: 7%;

    &__section{
        
        &--1{
            width: 20%;
        }

        &--2{
            width: 40%;
        }

        &--3{
            width: 40%;
        }
        
        &--4{
            width: 100%;
            background: rgba(172, 222, 249, 0.5);
            height: 20vh;
        }
    }
}